<article class="card">
            <div class="card-top">
                <a href="{{ .Permalink }}"><img src="undraw_Invest_re_8jl5.png" alt="Unsplash Photo"></a>
            </div>
            <div class="card-content">
              <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"><h6 class="tag tag-travel">{{ . | title }}</h6></a>
                <a href="{{ .Permalink }}"><h3 class="title">{{ .Title | markdownify }}</h3></a>
                <p>{{.Summary}}</p>
            </div>
        </article>
